<footer>
  <div class="footer">
    <div class="footer-top">
      <a href="./" class="footer__logo">
        <img src="./assets/header/main_logo.svg" alt="">
      </a>

      <ul class="footer__menu">
        <li class="menu-item"><a [routerLink]="[ '/promotions' ]">Акції</a></li>
        <li class="menu-item"><a [routerLink]="[ '/about-us' ]">Про нас</a></li>
        <li class="menu-item"><a [routerLink]="[ '/oferta' ]">Оферта</a></li>
      </ul>

      <div class="footer__info">
        <div class="info info__delivery">
          <p>Точки самовивозу</p>
          <ul>
            <li>вул. Володимира Великого, 10в</li>
            <li>вул. Чорновола, 95</li>
          </ul>
        </div>
        <div class="info info__order">
          <p>Оформити замовлення</p>
          <a href="tel:0978780837">(097) 878 08 37</a>
        </div>
        <div class="info info__work-time">
          <p>Графік роботи</p>
          працюємо з 11:00 до 23:59
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <div class="footer__copyright">
        <p>© 2022 Monosushi</p>
      </div>

      <div class="footer__payments">
        <div class="payment">
          <img src="./assets/footer/payment_master.svg" alt="">
        </div>
        <div class="payment">
          <img src="./assets/footer/payment_visa.svg" alt="">
        </div>
        <div class="payment">
          <img src="./assets/footer/payment_liqpay.svg" alt="">
        </div>
      </div>

      <div class="footer__social">
        <span>Слідкуйте за нами </span>
        <ul>
          <li>
            <a href="#">
              <img src="./assets/footer/facebook-icon.svg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/footer/instagram-icon.svg" alt="">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>