<header>
  <div class="header">
    <div class="header-row">
      <div class="header__logo">
        <a href="">
          <img src="./assets/header/main_logo.svg" alt="">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="nav">
          <li class="nav__item">
            <a href="/">
              <img src="./assets/header/nav_promo.svg" alt="">
              <span>Акції</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="/">
              <img src="./assets/header/nav_sushi.svg" alt="">
              <span>Роли</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="/">
              <img src="./assets/header/nav_sets.svg" alt="">
              <span>Сети</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="/">
              <img src="./assets/header/nav_drinks.svg" alt="">
              <span>Напої</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="/">
              <img src="./assets/header/nav_sauces.svg" alt="">
              <span>Соуси</span>
            </a>
          </li>
          <li class="nav__item nav__burger">
            <div class="burger">
              <div class="burger__bar"></div>
              <div class="burger__bar"></div>
              <div class="burger__bar"></div>
            </div>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <button class="call-back">
          <span>
            <img src="./assets/header/phone.svg" alt="">
          </span>
          ми зателефонуємо
        </button>
        <div class="call-info">
          <div class="info">
            <p class="info__phone">
              <span>
                (097) 878 08 37
              </span>
            </p>
            <p class="info__time">
              Працюємо з <span>11:00</span> до <span>23:59</span>
            </p>
          </div>
        </div>
      </div>
      <div class="header__login">
        <div class="login-icon">
          <a href="">
            <img src="./assets/header/user.svg" alt="">
          </a>
        </div>
      </div>
      <div class="header__basket">
        <div class="basket-ico">
          <img src="./assets/header/basket.svg" alt="">
        </div>
        <p class="basket-price">
          <span>0</span> грн
        </p>
      </div>
    </div>
  </div>
</header>