<div class="btn-box">
  <button class="btn btn-add" (click)="addPromo()">додати акцію</button>
</div>

<table *ngIf="!formStatus">
  <thead>
    <tr>
      <th class="first">#</th>
      <th>Назва</th>
      <th>Заголовок</th>
      <th>Опис</th>
      <th class="img">Картинка</th>
      <th class="actions">Дії</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let promo of promotions; index as i">
      <td class="first">{{i+1}}</td>
      <td>{{promo.name}}</td>
      <td>{{promo.title}}</td>
      <td>{{promo.description}}</td>
      <td class="img">
        <img [src]="promo.imagePath" alt="">
      </td>
      <td class="actions">
        <a (click)="editPromo(promo)">Редагувати</a>
        <a (click)="deletePromo(promo)">Видалити</a>
      </td>
    </tr>
    
  </tbody>
</table>


<form *ngIf="formStatus" [formGroup]="promoForm" (ngSubmit)="savePromo()">
  <div class="input-box" style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">
    <input type="text" formControlName="name" placeholder="*Назва">
    <input type="text" formControlName="title" placeholder="*Заголовок">
  </div>

  <div class="input-box">
    <textarea formControlName="description" rows="5" placeholder="*Опис"></textarea>
  </div>

  <div class="input-box">
    <input type="file" (change)="upload($event)">
    <div class="progress" *ngIf="!uploadedStatus">
      <div class="progress__fill" [style.right.%]="100 - uploadPercent"></div>
      <p class="progress__text">{{ uploadPercent }}%</p>
    </div>
    <div class="delete-img" *ngIf="uploadedStatus">
      <button type="button" class="btn btn-img" (click)="deleteImg()">видалити</button>
      <img [src]="valueByControl('imagePath')" alt="">
    </div>
  </div>
  
  <button type="submit" class="btn" [disabled]="promoForm.invalid">
    {{editStatus ? 'збергти' : 'додати'}}
  </button>

</form>