<h1 class="category-title">Доставка та оплата</h1>
<div class="container">
  <div class="block">
    <div class="block-item block__green">
      <div class="row">
        <div class="img">
          <img src="/assets/pages/delivery/mn-delivery-img.svg" alt="">
        </div>
        <div class="text">
          <h4>Зелена зона</h4>
          <p>
            В межах зеленої зони ми доставляємо протягом <span>1 год</span>.<br>
            Мінімальна сума замовлення в цю зону становить <span>200 грн</span>
          </p>
        </div>
      </div>
    </div>
    <div class="block-item block__yellow">
      <div class="row">
        <div class="img">
          <img src="/assets/pages/delivery/mn-delivery-img.svg" alt="">
        </div>
        <div class="text">
          <h4>Жовта зона</h4>
          <p>
            В межах жовтої зони ми доставляємо протягом <span>1,5 год</span>.<br>
            Мінімальна сума замовлення в цю зону становить <span>300 грн</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="space-90"></div>
  <div class="map">
    <img src="/assets/pages/delivery/map-placeholder.png" alt="">
  </div>
  <div class="space-90"></div>
  <div class="payment">
    <h3>Оплата</h3>
    <div class="row">
      <div class="row__item">
        <div class="pay-img">
          <img src="/assets/pages/delivery/pay-info-img-1.svg" alt="">
        </div>
        <div class="pay-text">
          <h4>Оплата готівкою</h4>
          <p>Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
        </div>
      </div>
      
      <div class="row__item">
        <div class="pay-img">
          <img src="/assets/pages/delivery/pay-info-img-3.svg" alt="">
        </div>
        <div class="pay-text">
          <h4>Оплата готівкою</h4>
          <p>Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="space-90"></div>
</div>