@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  @include flex-center;
  justify-content: space-between;
}

@mixin outline {
  outline: 2px solid $main-color;
}

@mixin outline-none {
  outline: 2px solid transparent;
}