<div class="banner" [style.backgroundImage]="'url(./assets/pages/main/banner-img-1-1920x650.jpg)'">
  <div class="container">
    <div class="row">
      <div class="row__item">
        <h1 class="banner__title">
          Ми – це доставка 
          <span>щястя.<br>Monosushi </span>
          – Ми любимо коли тобі смачно.
        </h1>
        <p class="banner__text">
          Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції і вже скоро вони будуть у тебе!
        </p>
        <button class="banner__btn">Детальніше</button>
      </div>
    </div>
  </div>
</div>

<div class="after-banner" [style.backgroundImage]="'url(./assets/pages/main/bg-monosushi-logo.svg)'">
  <div class="row">
    <div class="row__item">
      <img src="./assets/pages/main/mn-delivery-img.svg" alt="">
      <button>зони доставки</button>
    </div>
    <div class="row__item">
      <img src="./assets/pages/main/mono-supermen.svg" alt="">
      <p>
        Середній час доставки в <br>
        зеленій зоні <span>00:43:00</span>
      </p>
    </div>
    <div class="row__item">
      <img src="./assets/pages/main/mono-bonus.svg" alt="">
      <p>
        Середній час доставки в <br>
        зеленій зоні <span>00:43:00</span>
      </p>
    </div>
  </div>
</div>

<div class="space-90"></div>
<div class="container-products">
  <table class="types">
    <tr>
      <td [routerLink]="[ '/product-list/1' ]" routerLinkActive="active">Всі</td>
      <td [routerLink]="[ '/product-list/2' ]" routerLinkActive="active">Філадельфія</td>
      <td [routerLink]="[ '/product-list/3' ]" routerLinkActive="active">Каліфорнія</td>
      <td [routerLink]="[ '/product-list/4' ]" routerLinkActive="active">Запечені</td>
      <td [routerLink]="[ '/product-list/5' ]" routerLinkActive="active">Фірмові</td>
      <td [routerLink]="[ '/product-list/6' ]" routerLinkActive="active">Макі</td>
      <td [routerLink]="[ '/product-list/7' ]" routerLinkActive="active">Преміум</td>
    </tr>
  </table>
  <div class="space-60"></div>

<!-- <router-outlet></router-outlet> -->

<app-product-list></app-product-list>

</div>
