<div class="banner">
  <div class="container">
    <div class="row">
      <div class="row__item">
        <h1 class="banner__title">
          Ми – це доставка 
          <span>щястя.<br>Monosushi </span>
          – Ми любимо коли тобі смачно.
        </h1>
        <p class="banner__text">
          Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції і вже скоро вони будуть у тебе!
        </p>
        <button class="banner__btn">Детальніше</button>
      </div>
    </div>
  </div>
</div>

<div class="after-banner">
  <div class="row">
    <div class="row__item">
      <img src="/assets/pages/main/mn-delivery-img.svg" alt="">
      <button>зони доставки</button>
    </div>
    <div class="row__item">
      <img src="/assets/pages/main/mono-supermen.svg" alt="">
      <p>
        Середній час доставки в <br>
        зеленій зоні <span>00:43:00</span>
      </p>
    </div>
    <div class="row__item">
      <img src="/assets/pages/main/mono-bonus.svg" alt="">
      <p>
        Середній час доставки в <br>
        зеленій зоні <span>00:43:00</span>
      </p>
    </div>
  </div>
</div>