@import '/src/app/shared/styles/style.scss';

.banner {
  background-image: url('/assets/pages/main/banner-img-1-1920x650.jpg');
  min-height: 650px;
  @include flex-center;
  .container {
    width: 80%;
    max-width: 1700px;
    margin: 0 auto;

    .row {
      width: 50%;
      margin-right: 50%;
      padding: 15px;
    }
  }
  &__title {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3em;
    color: #fff;
    span {
      color: $main-color;
    }
  }
  &__text {
    margin: 15px 0;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    opacity: 0.5;
  }
  &__btn {
    width: 180px;
    height: 55px;
    border-radius: 10px;
    background-color: $main-color;
    border: 2px solid $main-color;
    text-transform: uppercase;
    font-weight: bold;
    @include flex-center;
    &:hover {
      background-color: transparent;
      color: #fff
    }
  }
}

.after-banner {
  height: 180px;
  padding: 40px 0;
  background-color: $main-color;
  background-image: url('/assets/pages/main/bg-monosushi-logo.svg');
  .row {
    @include flex-space-between;
    height: 100%;
    margin: 0 20px;
    &__item {
      height: 100%;
      width: 33.33%;
      @include flex-center;
      justify-content: space-evenly;
      img {
        height: 100%;
      }
      button {
        width: 175px;
        height: 55px;
        border-radius: 10px;
        border: 2px solid #fff;
        background-color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
          background-color: transparent;
        }
      }
      p {
        line-height: 1.3em;
        text-align: center;
      }
      span {
        font-weight: bold;
      }
    }
  }
}