<h1 class="category-title">Про нас</h1>
<div class="container">
  <div class="block">
    <h3>
      Monosushi – доставка неймовірно смачних суші у Львові.
    </h3>
    <p>
      Головний пріоритет – висока якість їжі та сервісу. Ми – команда професіоналів, яка щодня працює для Вас. Якість та  Швидкість! – це два основних пріоритети в роботі команди. В першу чергу звичайно ж Якість. Суші готуються без затримок, одразу ж після Вашого замовлення. А завдяки сучасним технологіям та відповідальному навчанню працівників, свіжі страви можливо доставляти до 59 хв в 75% замовлень.
    </p>
    <ul>
      <li>висока якість їжі та сервісу</li>
      <li>команда професіоналів</li>
      <li>сучасні технології приготування</li>
    </ul>
  </div>
  <div class="space-120"></div>
  <div class="block-flex">
    <div class="img">
      <img src="/assets/pages/about us/about-img-1.jpg" alt="">
    </div>
    <div class="text">
      <h3>
        Привіт! Познайомимось?
      </h3>
      <p>
        Monosushi – це доставка найсмачніших суші у Львові, яка була створена командою перфекціоністів. Двоє друзів, які обожнюють роли вирішили створити продукт, якого їм не вистачало на ринку Львова. Продукт, в якому ідеальним буде все: смак, упакування, сервіс і все це за лояльною ціною!
      </p>
    </div>
  </div>
  <div class="space-120"></div>
  <div class="block-flex">
    <div class="text">
      <h3>
        Наш пріоритет - ваша посмішка від задоволення
      </h3>
      <p>
        Monosushi – це доставка одного (mono) продукту. Суші вже давно не є заморським делікатесом. Роли вже давно стали рядовою стравою, проте процес їх приготування всеодно залишається цілим мистецтвом. Суші потрібно готувати за чіткою технологією суворо дотримуючись традицій. І в цьому ми справжні експерти! Сумніваєтесь? Тоді замовляйте безкоштовну доставку Monosushi і насолоджуйтесь.
      </p>
    </div>
    <div class="img">
      <img src="/assets/pages/about us/about-img-2.jpg" alt="">
    </div>
    
  </div>
  <div class="space-120"></div>
  <div class="block-bottom">
    <h3>Наші переваги</h3>
    <div class="slider">
      <div class="slider__item">
        <div class="img">
          <img src="/assets/pages/about us/advantages-img-1.svg" alt="">
        </div>
        <h4>Свіжі продукти</h4>
        <p>
          Наші інгредієнти ще вчора плавали у морі, а сьогодні вже у Ваших сушиках
        </p>
      </div>
      <div class="slider__item">
        <div class="img">
          <img src="/assets/pages/about us/advantages-img-2.svg" alt="">
        </div>
        <h4>Неймовірний смак</h4>
        <p>
          Ми створили сушики, які змусять Ваші рецептори вибухнути від насолоди
        </p>
      </div>
      <div class="slider__item">
        <div class="img">
          <img src="/assets/pages/about us/advantages-img-3.svg" alt="">
        </div>
        <h4>Великі порції</h4>
        <p>
          Ми віднайшли ідеальні порції ролів та завжди дотримуємось грамажу вказаного на сайті
        </p>
      </div>
      <div class="slider__item">
        <div class="img">
          <img src="/assets/pages/about us/advantages-img-4.svg" alt="">
        </div>
        <h4>Чистота на кухні</h4>
        <p>
          Ми як ніхто інший розуміємо, що морепродукти потребують абсолютної чистоти на кухні
        </p>
      </div>
    </div>
    <div class="space-90"></div>
  </div>

</div>